.jumbotron{
    padding: 6rem;
    background-color: #0040AE;
}
.isi{
    padding: 3rem;
}
.layanan{
    padding: 3rem;
    background-color: #F5F5F5;
}
.alasan{
    padding: 3rem;
}
.cfd{
    padding: 3rem;
    background-color: #F5F5F5;
}
