.jumbotron{
    padding: 5rem;
}
.isi{
    padding: 3rem;
    background-color: #F5F5F5;
} 
.isi2{
    padding: 3rem;
} 
.alasan{
    padding: 3rem;
    background-color: #F5F5F5;
}
.training{
    padding: 3rem;
}
