.jumbotron{
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.awal{
    padding-left: 3rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
    padding-right: 3rem;
    background-color: #0040AE;
}
.iya{
    padding-left: 3rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
    padding-right: 3rem;
}