.jumbotron{
    padding: 7rem;
    background-image: url(../img/line.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.cfd{
    padding: 3rem;
}
.cfd2{
    padding: 3rem;
    background-color: #0040AE;
}
.btn-cobalt{
    background-color: #0040AE;
}
