.jumbotron{
    padding: 7rem;
    background-image: url(../img/line.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.what{
    padding: 5rem;
}
.history{
    padding: 5rem;
}
